      
<!-- Header Section Start -->

<header id="video-area" data-stellar-background-ratio="0.5">    
  <div id="block" data-vide-bg="assets/template/video/video"></div>
  <div class="overlay overlay-2"></div>      
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="contents text-center intro-title">
          <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1.5s">Wij zijn vluchtelingen</h1>
          <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="1s">Wereldwijd zijn er bijna 60 miljoen mensen op de vlucht voor geweld en dat aantal blijft stijgen. De helft van hen is kind. Het grootste gedeelte is op de vlucht in eigen land of regio...</p>

        </div>
      </div>
    </div> 
  </div>      
</header>
<!-- Header Section End --> 

<!-- -->

<div class="asielzoekers section" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row"> 
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <div class="contents text-center">
            <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.5s">
            De komst van asielzoekers gaan vaak gepaard met criminaliteit. Het wordt zo vaak herhaald dat het inmiddels bijna een feit lijkt te zijn...

          </h2>
          <h2>  Maar wat is het verhaal van deze asielzoekers?
          </h2>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

<!-- Services Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="section-header">          
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Asielzoekers</span> afgelopen 10 jaar</h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        Hieronder zijn de aantal asielzoekers van de afgelopen 10 jaar weergegeven. 
        Alle nationaliteit delen hetzelfde lot: ze vluchten voor hun leven...
      </p>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div style="display: block;">
              <canvas baseChart width="500" height="150"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">                  
            </canvas>
          </div>
        </div>  
      </div>

<!--       <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">

</div> -->
</div>
</div>
</div>
</section>
<!-- Services Section End -->

<!-- Start Video promo Section -->
<section class="video-promo alula section" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="contents alula">
        <div class="text-left">
          <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay=".5s">Wij vechten voor mensenrechten...</h3>
          <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay=".6s">We worden behandeld als criminelen door de Nederlandse overheid.</h3>
        </div>
          <div class="text-right">
           <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay=".7s">We weten dat we geen criminelen zijn ...</h3>
           <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay=".9s">... maar vluchtelingen</h3>
         </div>
         <div class="overlay-text">
         <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1s">We konden niet overleven in ons eigen land.</h1>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>


<!-- Features Section Start -->
<section id="features" class="section" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="section-header">          
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Top 3 landen waar vluchtelingen vandaan komen zijn <span> Syrië, Eritrea en Irak.</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="1000ms" >2005 en 2006</h3>
        <div style="display: block;">
          <canvas baseChart width="500" height="300"
          [datasets]="lineChartDataAfghanistan"
          [labels]="lineChartLabelsAfghanistan"
          [options]="lineChartOptionsAfghanistan"
          [colors]="lineChartColorsAfghanistan"
          [legend]="lineChartLegendAfghanistan"
          [chartType]="lineChartTypeAfghanistan"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">                  
        </canvas>




      </div>
    </div>
    <div class="col-md-6">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Asielzoekers en nareizigers 2016-2017
      In het derde kwartaal van 2017 kwamen circa 6,6 duizend asielzoekers en nareizigers naar Nederland. Syrië, Eritrea en Irak zijn de landen waar dit kwartaal het merendeel van de asielzoekers en nareizigers vandaan kwamen. Het aantal nareizigers uit Syrië en Eritrea daalde. Het aantal asielzoekers nam voor alle drie groepen licht toe.</p>
    </div>
  </div>
</div>
</section>
<!-- Features Section End -->    

<!-- Counter Section Start -->
<div class="counters section" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"> 
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <div class="contents text-center">
            <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.5s">We konden niet overleven in ons eigen land, we hebben onze naasten achter moeten laten</h1>
          </div>
        </div>
      </div> 


      <div class="col-sm-6 col-md-4 col-lg-4">

        <div class="wow fadeInUp" data-wow-delay=".4s">
          <div class="facts-item">
<!--             <div class="icon">
              <i class="lnr lnr-coffee-cup"></i>
            </div>  -->               
            <div class="fact-count">
              <h3><span class="counter">19523700</span></h3>
              <h4>Vluchtelingen</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="wow fadeInUp" data-wow-delay="1s">
          <div class="facts-item">
<!--             <div class="icon">
              <i class="lnr lnr-user"></i>
            </div>    -->             
            <div class="fact-count">
              <h3><span class="counter">535068</span>+</h3>
              <h4>Doden</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="wow fadeInUp" data-wow-delay=".8s">
          <div class="facts-item">
<!--             <div class="icon">
              <i class="lnr lnr-heart"></i>
            </div>   -->              
            <div class="fact-count">
              <h3><span class="counter">768439</span></h3>
              <h4>Minderjarige zonder ouders</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<a href="#" class="back-to-top">
  <i class="lnr lnr-arrow-up"></i>
</a>

<div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>    

